@{
    ViewBag.Title = "Payment Results";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Your Payment Has Been Received</h3>
    </div>
    <div class="col-xs-12">
        <label>Your Paid: @Model.PaymentAmount</label>
    </div>
    <div class="col-xs-12">Your Transaction ID is: @Model.PaymentTransactionId</div>
</div>
